.app_banner_area{
   background: #13b1c0;
   height: 270px;
   overflow: hidden;
  }
.footer_sitemap h5 {
  margin-left: 35px;
  font-size: 16px;
}
nav{
  justify-content: space-between;
}
ul{
  display: block;
  list-style: none;
}
.footer_title li{
  font-size: 60px;
}
@media (max-width: 960px) and (min-width: 699px) {
.footer_sitemap {
  grid-template-columns: 1fr 1fr 1fr;
}
}
.footer,.footer_sitemap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 4% 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1%;
  -moz-column-gap: 1%;
  column-gap: 1%;
}
.footer_sitemap ul li {
  text-align: left;
  margin: 8px 0;
  width: 380px;
  justify-content: space-between;
}
.alignCenter {
  text-align: center;
  display: block;
  margin: 30px 0 30px 0;
}
